{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/greek-helmet-white.png' %}"
    />
<!--    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">-->
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">CRM</a>
        <div>
            {% if user.is_authenticated and user.is_active %}
                <a href="{% url 'logout' %}">Logout</a>

            {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'index' %}">Login</a>
            {% endif %}
        </div>
    </nav>

    <main>
        {% if messages %}
            <div class="toast-container">
                {% for message in messages %}
                    <div class="toast {{ message.tags }}">
                        {{ message }}
                        <button onclick="this.parentElement.remove()">×</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

    </main>

    <footer>
        <p>&copy; {% now "Y" %} CRM. All rights reserved.</p>
    </footer>

    <script>
        setTimeout(() => {
            document.querySelectorAll('.toast').forEach(t => {
            t.style.transition = "opacity 0.5s ease";
            t.style.opacity = "0";
            setTimeout(() => t.remove(), 500);                  // Remove after fade
            });
        }, 3000);
    </script>

</body>
</html>