{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{% url 'new' %}">
        {% csrf_token %}
        <h3>New Customer</h3>

        <label>First Name:</label>
        {{ form.first_name }}

        <label>Last Name:</label>
        {{ form.last_name }}

        <label>Email:</label>
        {{ form.email }}

        <label>Phone:</label>
        {{ form.phone }}

        <label>Address:</label>
        {{ form.address }}

        <label>City:</label>
        {{ form.city }}

        <label>State:</label>
        {{ form.state }}

        <label>Pincode:</label>
        {{ form.pincode }}
        <div class="action-buttons">
            <a href="{% url 'dashboard' %}">Back</a>
            <button type="submit" name="action" value="submit">Add Customer</button>
        </div>
    </form>
{% endblock %}
